---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">首页</HeaderLink>
			<HeaderLink href="/blog">文章</HeaderLink>
			<HeaderLink href="/about">关于</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		position: sticky;
		top: 0;
		backdrop-filter: blur(8px);
		background: rgba(255, 255, 255, 0.9);
		border-bottom: 1px solid rgba(var(--gray), 20%);
		z-index: 10;
	}
	h2 {
		margin: 0;
		font-size: 1.05rem;
		letter-spacing: 0.02em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 960px;
		margin: 0 auto;
	}
	nav a {
		padding: 1em 0.7em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	@media (max-width: 720px) {
		.internal-links {
			font-size: 0.95rem;
		}
	}
</style>
